<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>C-137 | OPERATIVO - Data Warehouse</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="./../css/all.min.css"> 
  <!-- Theme style -->
  <link rel="stylesheet" href="./../css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <% if(alert) { %>
        <div class="alert alert-danger" role="alert">
            <%= alertMessage %>
        </div>
    <% } %>
    
<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
        <h1><b>C-137</b> | OPERATIVO</h1>
    </div>
    <div class="card-body">
      <p class="login-box-msg">REGISTRO</p>
      <form action="/register" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" id="pass" name="pass" placeholder="Contraceña" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>        
        <div class="row">
          <!-- /.col -->
          <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">REGISTRAR</button>
          </div>
          <!-- /.col -->
          <!-- /.col -->
          <div class="col-6">
            <a href="/login" type="button" class="btn btn-danger btn-block">CANCELAR</a>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p></p>
      <a href="/login" class="text-center">Ya estas registrado.</a>      
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.all.min.js"></script>
<!-- jQuery -->
<script src="./../js/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="./../js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="./../js/adminlte.min.js"></script>
</body>
</html>
